{
    "presets": [
        "./tools/es2015Preset"
    ],
    "env": {
        "cjs": {
            "plugins": ["add-module-exports"]
        },
        "debug": {
            "sourceMaps": "inline",
            "retainLines": true
        }
    }
}
